* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-color: #e9eaf0;
}



.navbar {
  min-width: 95%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(6, 6, 164);
  padding: 26px ;
}
a {
  text-decoration: none;
  color: #f0ece9;
  font-size: 24px;
  transition: all 0.6s;
  font-weight: 600;
}

 a:focus, a:hover {
  color: #d87ff3;
}

.active{
  color: #d87ff3;
  border-bottom: 2px solid #d87ff3;
  padding:0px 0px 2px 0px;
}

.list > div {
  width: 400px;
  text-align: center;
  margin: 20px auto;
  border: 1px solid black;
}

button {
  padding: 10px;
  border-radius: 6px;
  font-size: 22px;
  border: none;
  background-color: blue;
  color: white;
  transition: all 0.4s;
}

button:hover {
  transform: scale(0.94);
}

input {
  font-size: 20px;
  padding: 11px 10px;
  width: 370px;
  border-radius: 6px;
  border: 1px solid grey;
}
input:focus{
  border: 2px solid rgb(38, 229, 130);
}

#form {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background-color: white;
  gap: 18px;
  margin-top: 30px;
  width: 500px;
  padding: 35px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  align-items: center;
}

#form>h1{
  color: rgb(91, 87, 87);
  margin-bottom: 10px;
}

#form > div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

select {
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
}

table,
td,
th {
  border: 1px solid rgb(180, 29, 207);
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

#filters {
  display: flex;
  gap: 20px;
}

th,
td {
  padding: 15px;
  text-align: center;
}

tr > th {
  background-color: rgb(109, 0, 128);
  color: white;
}

body > tr > td:first-child {
  font-weight: bold;
}

.heading {
  text-align: center;
  color: rgb(105, 109, 109);
}

.filter-sort{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap:20px;
  margin-bottom: 50px;

}

#total{
  width:300px;
  padding:20px 0px;
  background-color: black;
  color:white;
  text-align: center;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 7px;
}


